NEXT_PUBLIC_SUI_NETWORK=
NEXT_PUBLIC_SUI_RPC=
NEXT_PUBLIC_PACKAGE_ID=0x...
SUI_ATTESTER_SECRET=suiprivkey1...
NEXT_PUBLIC_WALRUS_AGGREGATOR=
WALRUS_PUBLISHER=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_ENOKI_API_KEY=
ENOKI_SECRET_KEY=
DATABASE_URL=
SUI_ADDRESS=
PUBLIC_BASE64KEY=
PEERID=
